
html, body {
    margin: 0;
    padding: 0;
    background-color: #7FCFCB;
}


.slide-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s, transform 0.6s;
}
.slide-in.show {
    opacity: 1;
    transform: translateY(0);
}

label {
    margin: 10px;
}

h4 {    
    text-decoration: underline;
    margin: 0;           /* remove default top/bottom margin */
    padding: 20px 0;  
    padding-left: 10px;
}

#header {
    background-color: #40E0D0;
}

button {
    margin: 10px;
}

#map {
    height: 300px;
    width: 800px;
    margin: auto;
    border-radius: 16px;
}

#map-box {
     background-color: #7FCFCB;
     padding-top: 10px;
     padding-bottom: 10px;
}

#longitude {
    width: 250px;
    margin: 10px;
}

#latitude {
    width: 250px;
    margin: 10px;
}

#date {
    width: 250px;
    margin: 10px;
}

.crime-result {
    border: 1px;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    background: #7FCFCB;
    width: 600px;
}

h2 {
    margin: 10px;
}

#crimeType {
    width: 300px;
}

#background {
    background-color: #7FCFCB;
}

#resultsBackground {
    background-color: #7FCFCB;  /* the visible background */
    padding: 10px;               /* space inside so it looks good */
    width: 100%;
    box-sizing: border-box;
}

#hidden-message {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9rem; /* small text */
}

#hidden-message summary {
    cursor: pointer;
    font-weight: bold;
}